.wrapper-content {
    background: #f5f5f5;
    margin-bottom: 40px;
}

.bread-crumb-container {
    margin: 0;
    font-size: 14px;
    padding: 15px 0px 15px;
    border-radius: 0;
    font-weight: 400;
    line-height: 24px;
    background-color: transparent;
}

.home-page:hover {
    color: var(--blue);
}

.crumb-name {
    text-transform: uppercase;
    color: var(--blue);
}

.line-straight {
    width: 50px;
    height: 2px;
    background: var(--red);
    margin-top: 10px;
    margin-left: 47%;
}
