.product-box {
    height: 100%;
    position: relative;

    &:hover {
        .img-item {
            display: none;
        }

        .img-item-back {
            display: block;
            opacity: 1; /* Hiển thị .btn-group khi hover vào .item-product */
        }

        .btn-group {
            display: block;
            opacity: 1; /* Hiển thị .btn-group khi hover vào .item-product */
            transform: scale(1);
        }
    }
}

.item-product {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.item-product:hover {
    cursor: pointer;
}

.img-item,
.img-item-back {
    width: 100%;
    height: 100%;
}

.img-item-back {
    display: none;

    transition: display 3ms ease-in-out;
}

.choose-btn {
    margin-right: 15px;
}
.btn-group {
    position: absolute;
    opacity: 0; /* Ban đầu ẩn .btn-group */
    transform: scale(0.1); /* Thu nhỏ .btn-group ban đầu */
    transform-origin: center center; /* Đặt điểm gốc để làm hiệu ứng scale từ trung tâm */

    transition: opacity 0.5s ease, transform 0.5s ease;
}

.product-info {
    padding: 0;
    width: 100%;
    float: left;
    margin: 20px 0px 15px;
    position: relative;
}

.product-name {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 5px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 5px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;

    &:hover {
        color: var(--blue);
    }
}

.special-price {
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    color: #363636;
    font-weight: 700;
    margin-right: 10px;
}

.sale-top-right {
    position: absolute;
    width: 45px;
    top: -12px;
    height: 45px;
    right: 0px;
    z-index: 9999;
    background: #ed1c24;
    color: #fff;
    padding: 10px 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.product-price-old {
    font-size: 13px;
    color: #acacac;
    font-family: 'Arial', sans-serif;
    line-height: 24px;
    font-weight: 300;
    text-decoration: line-through;
}
