.wrapper-header {
    background-color: #363636;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    color: #cccccc;
    font-size: 13px;
}

.phone-number:hover {
    color: #fff;
    cursor: pointer;
}

.list-right {
    display: flex;
    flex-direction: row;
    float: right;
}

.list-item {
    margin-right: 15px;
    cursor: pointer;
}

.list-item:last-child {
    margin-right: 0;
    &:hover {
        color: #fff;
        cursor: pointer;
    }
}

.header-logo {
    display: flex;
    align-items: center;
    position: relative;

    &::after {
        content: '';
        width: 100%;
        position: absolute;
        height: 0.75px;
        background: #ebebeb;
        bottom: 0;
    }
}

.header-nav {
    margin-bottom: 5px;
}
.menu-bar {
    padding-right: 15px;
    margin-left: 15px;
    font-size: 26px;
    color: #ed1c24;
    cursor: pointer;
    display: none;
}
.header-main {
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
}

// ........

.nav-1 {
    display: flex;
    justify-content: left;
}

.nav-item:hover {
    cursor: pointer;
    color: var(--blue);
}

.nav-item a {
    line-height: 50px;
    font-size: 14px;
    font-weight: 700;
    padding: 0px 15px 0px;
    z-index: 5;
    position: relative;
    text-transform: uppercase;
}

.nav-item-sale {
    background-color: #ed1c24;
    color: rgba(55, 55, 55, 0.8);

    &:hover {
        color: rgba(55, 55, 55, 1);
    }
}

.icon-caret-down {
    font-size: 13px;
    margin-left: 6px;
}

// nav-right
.search-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15px;
    font-size: 16px;
    height: 100%;
    // display: none;
}

.search_menu,
.top-cart {
    width: 30px;
    text-align: right;
    cursor: pointer;
}

.top-cart:hover {
    color: #ed1c24;
}

.search_menu {
    margin-right: 10px;
}

@media (max-width: 1023px) {
    .search-cart,
    .menu-bar {
        display: block;
    }

    .header-logo::after {
        display: none;
    }
}

// tippy
.menu {
    width: 235px;

    padding: 0px;
    height: 45px;
    line-height: 45px;
    position: relative;
    z-index: 9;

    .menu-item {
        margin-left: 0;
    }
}

.menu-popper {
    padding-bottom: 8px;
    width: 200px;
}
