.category-products {
    padding-bottom: 20px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0.5px;
        background: #e1e1e1;
        bottom: 0;
    }
}

.title_page {
    font-size: 18px;
}

.sortpage {
    float: right;
    font-size: 12px;
    text-align: left;
    display: flex;
}

.sort-left {
    float: left;
    line-height: 38px;
    font-size: 14px;
    margin-right: 6px;
    margin-bottom: 0;
}

.border_sort {
    float: left;
    width: 150px;
    /* border: solid 1px #ebebeb; */
    height: 35px;
    line-height: 30px;
}

.border_sort select {
    float: left;
    width: 150px;
    border: solid 1px #ebebeb;
    height: 35px;
    line-height: 30px;

    outline: none;
    cursor: pointer;
}
